<div id="single-post-content" class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3><%= @post.title %></h3>
      <div class="posted-by">Posted by <%= @post.user.name %></div>

      <p><%= @post.content %></p>

      <%= link_to 'Download Paper', @post.respaper.url(:original, false) %>
      <br>
      <br>
       <%= commontator_thread(@post) %>

    </div>
  </div><!-- row -->

 </div>
